# ! DO NOT USE THE FOLLOWING SETTINGS IN PRODUCTION
# decrypted string is equivalent to word "token"
PASSWORD=$argon2id$v=19$m=1024,t=1,p=1$rccUvNgPEqt0ssmzlKUAoA$DztzLpBQQXLve0Adp0/mZQ

# rate limiting configuration
MAX_SUCCESSFUL_ATTEMPTS=100
SUCCESS_TIME_WINDOW_SECONDS=1
MAX_FAILED_ATTEMPTS=100
FAILURE_TIME_WINDOW_SECONDS=1
