APP_ENV=

PASSWORD=

DB_URL=
DB_SSL_MODE=

MAX_SUCCESSFUL_ATTEMPTS=50
SUCCESS_TIME_WINDOW_SECONDS=60
MAX_FAILED_ATTEMPTS=10
FAILURE_TIME_WINDOW_SECONDS=600

BOX_BACKUPS_FOLDER_NAME=
BOX_CLIENT_ID=
BOX_CLIENT_SECRET=
BOX_PROJECT_TYPE=enterprise
BOX_PROJECT_ID=
